html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1.3px;
  font-size: 16px;
  font-weight: 500;
  color: #2a3a3a;
}

a {
  text-decoration: none;
}

nav {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ababab;
  padding: 0 6px;
  font-size: 10px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  margin-left: 8px;
  justify-content: flex-end;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ababab;
  line-height: 1.2;
}

header h1 {
  margin: 8px 0 0 0;
}

header img {
  width: 150px;
  border-radius: 50%;
  margin: 8px 0;
}

header h2 {
  font-size: 18px;
  margin: 0;
}

header p {
  margin: 0;
}

.mail-wrapper {
  margin-top: 12px;
}

header a {
  color: #7a7a7a;
  font-size: 12px;
}

main {
  padding: 12px;
}

.about-me a,
.projects a {
  color: #3385ff;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me p {
  max-width: 650px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header__title {
  font-size: 24px;
  text-align: center;
  margin: 38px 0 0 0;
}

.projects-header__description {
  font-size: 12px;
}

.projects-header__description.last {
  padding-bottom: 16px;
  border-bottom: 1px solid #ababab;
}

.projects {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.projects.first {
  margin-top: 32px;
}

.projects__img {
  border: 1px solid #ababab;
  box-shadow: 0px 0px 5px -2px #111;
  width: 200px;
}

.projects__title {
  margin-bottom: 0;
}

.projects__date {
  color: #7a7a7a;
  margin: 6px 0;
  font-size: 12px;
  align-self: flex-start;
}

.projects__link {
  font-size: 12px;
  align-self: flex-start;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

footer a {
  color: #ababab;
}

@media all and (min-width: 450px) {
  
  nav {
    padding: 0 8px;
    font-size: 12px;
  }

  nav ul li a {
    margin-left: 12px;
  }

  main {
    padding: 12px 18px;
  }

  .projects-header__description {
    font-size: 14px;
    max-width: 450px;
  }

}

@media all and (min-width: 700px) {

  nav {
    padding: 0 12px;
    font-size: 14px;
  }

  header {
    margin-top: 24px;
    padding-bottom: 24px;
  }

  header img {
    width: 175px;
  }

  .about-me {
    margin-top: 6px;
  }

  .projects-header {
    margin: 24px 0 44px 0;
  }

  .projects-header__description.last {
    padding-bottom: 0;
    border-bottom: none;
  }

  .projects__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}